In [2]:
# Q1. Ans:-

In [4]:
Score = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original list of tuple is:")
print(Score)
Player= Score.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(Score)

Original list of tuple is:
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Sorting the List of Tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [5]:
# Q2. Ans:-

In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2 = list(map(lambda x : x**2, list1))

In [2]:
list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Q3. Ans:-

In [10]:
list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2=tuple(map(lambda i : str(i),list1))
print("tuple of string is:",list2)

tuple of string is: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [39]:
# Q4. Ans:-

In [45]:
from functools import reduce
list1=[]
for i in range(1,26):
    list1.append(i)   
product=reduce(lambda x,y : x * y,list1)
print(product)

15511210043330985984000000

In [53]:
# Q5 Ans:-

In [57]:
def fun1(num):
    return num%2==0 and num%3==0 
number=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_number = list(filter(fun1, number))

print("The numbers which are divisible by 2 and three is :",filtered_number)

The numbers which are divisible by 2 and three is : [6, 60, 90, 120]

In [58]:
# Q6. Ans:-

In [62]:
def fun1(word):
    return word== word[::-1]
list1=['python', 'php', 'aba', 'radar', 'level']
palindrome_number=list(filter(lambda x: fun1(x),list1))
print("palindrome string from list is: ",palindrome_number)

palindrome string from list is:  ['php', 'aba', 'radar', 'level']